<ul class="breadcrumb">
	<li><a href="<?php echo esc_url( home_url( '/' ) ); ?>"><img src="<?php bloginfo('template_directory'); ?>/img/logo_s_w.png"></a></li>
	<li><a href="#">2015</a></li>
	<li><a href="#">CAPÍTULO DE BIODIVERSIDAD</a></li>
</ul>
<div>
	<div href="#" class="search">
		<a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/search.png"></a>
		<input type="text" placeholder="BUSCA EN EL RET"/>
	</div>
	
	<div class="menu_open">
		<img src="<?php bloginfo('template_directory'); ?>/img/icon/menu.png"/>
			<!--a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/close.png"></a-->
			<ul>
				<li><a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_tag.png"> TEMAS</a></li>
				<li><a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_cal.png"> 2015</a></li>
				<li><a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_cal.png"> 2014</a></li>
				<li><a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_map.png"> MAPA</a></li>
				<li><a href="#">AUTORES</a></li>
<li><a href="#">GLOSARIO</a></li>
				<li><a href="#">AGRADECIMIENTOS</a></li>
				<li><a href="#">BIBLIOGRAFÍA CITADA</a></li>
				<li>
					<a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_twitter.png"></a>
					<a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_fb.png"></a>
					<a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_mail.png"></a>
					<a href="#"><img src="<?php bloginfo('template_directory'); ?>/img/icon/ico_share.png"></a>
				</li>
			</ul>
		</div>
</div>